<!-- Parent background remains unchanged -->
<div class="content">
  <!-- Rounded Container -->
  <div class="rounded-container">
      <!-- Hero Section -->
      <div class="container-fluid hero-section">
        <div class="hero-content container">
          <div class="row align-items-center">
            <div class="col-md-6 text-white">
              <h1>EMBRACE THE GREEN ENERGY REVOLUTION</h1>
              <h2 class="lead">
                Connect with Enercom1—your gateway to energy communities.
              </h2>
              <a [routerLink]="['/platform']" class="btn btn-primary">
                GET STARTED
              </a>
            </div>
            <div class="col-md-6">
              <img
                src="/assets/images/platform.jpg"
                class="img-fluid"
                alt="Hero Image"
              />
            </div>
          </div>
        </div>
      </div>
    
      <!-- Intro Text Section -->
      <div class="intro-text-section py-5" style="background-color: #ffffff;">
        <div class="container text-center">
          <h2 class="intro-title" style="font-family: 'Overpass', sans-serif; font-size: 2rem; font-weight: 700; color: #05cab6;">
            Lower your environmental impact and save money
          </h2>
  
          <!-- Card 1 -->
          <div class="card intro-card mx-auto my-4" style="max-width: 1000px;">
            <div class="card-body">
              <p class="card-text" style="font-size: 1.25rem; font-weight: 400; font-family: 'Overpass', sans-serif; color: #002B36;">
                Effortlessly monitor and optimize your energy consumption with Enercom1.
              </p>
            </div>
          </div>
  
          <!-- Card 2 -->
          <div class="card intro-card mx-auto my-4" style="max-width: 1000px;">
            <div class="card-body">
              <p class="card-text" style="font-size: 1.25rem; font-weight: 400; line-height: 1.8; font-family: 'Overpass', sans-serif; color: #002B36;">
                Whether it's overseeing production, consumption, or storage transactions and maximizing
                economic gains, Enercom1 is your companion in the journey towards sustainability.
              </p>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Features Cards Section -->
      <div class="features-cards-section py-5" style="background-color: #002B36;">
        <div class="container">
          <h3 class="text-center mb-4" style="color: #05cab6; font-weight: 700; font-family: 'Overpass', sans-serif; font-size: 23px;">
            Renewable Energy Communities empower individuals, businesses, and public entities to:
          </h3>
          <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4 mb-4">
              <div class="card text-center h-100" style="background-color: #05cab6; border: none;">
                <div class="card-body">
                  <h5 class="card-title" style="color: #002B36; font-family: 'Overpass', sans-serif; font-size: 23px; font-weight: 700;">
                    Reduce energy expenses
                  </h5>
                  <hr style="border-color: #002B36;">
                  <p class="card-text" style="color: #002B36; font-family: 'Overpass', sans-serif; font-size: 18px; font-weight: 400; line-height: 1.9;">
                    Enhance energy efficiency, cut costs, and earn through incentives
                  </p>
                </div>
              </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-4 mb-4">
              <div class="card text-center h-100" style="background-color: #05cab6; border: none;">
                <div class="card-body">
                  <h5 class="card-title" style="color: #002B36; font-family: 'Overpass', sans-serif; font-size: 23px; font-weight: 700;">
                    Minimize environmental footprint
                  </h5>
                  <hr style="border-color: #002B36;">
                  <p class="card-text" style="color: #002B36; font-family: 'Overpass', sans-serif; font-size: 18px; font-weight: 400; line-height: 1.9;">
                    Generate, share, and consume locally produced 100% renewable energy
                  </p>
                </div>
              </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-4 mb-4">
              <div class="card text-center h-100" style="background-color: #05cab6; border: none;">
                <div class="card-body">
                  <h5 class="card-title" style="color: #002B36; font-family: 'Overpass', sans-serif; font-size: 23px; font-weight: 700;">
                    Accelerate return on investment
                  </h5>
                  <hr style="border-color: #002B36;">
                  <p class="card-text" style="color: #002B36; font-family: 'Overpass', sans-serif; font-size: 18px; font-weight: 400; line-height: 1.9;">
                    There's never been a better time to invest in renewable energy. <strong style="color: #05cab6;">Enercom1</strong> simplifies the process!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- "Simple and User-Friendly" Section -->
      <div class="easy-intuitive-section py-5" style="background-color: #f8f9fa; color: #002B36;">
        <div class="container">
          <div class="row align-items-center">
            <!-- Image Section -->
            <div class="col-md-6 order-md-1 mb-4 mb-md-0 hover-effect-black" style="position: relative;">
              <img
                src="/assets/images/icon_intro_2.png"
                class="img-fluid rounded"
                alt="Simple and User-Friendly"
                style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); position: relative; right: -10px;"
              />
            </div>
            <!-- Text Section -->
            <div class="col-md-6 order-md-2">
              <h3 style="color: #05CAB6; font-family: 'Overpass', sans-serif; font-size: 23px; font-weight: 700;">
                Simple and User-Friendly
              </h3>
              <p class="lead" style="font-size: 20px; color: #002B36; font-family: 'Overpass', sans-serif;">
                The Enercom1 platform is designed to be straightforward and accessible for:
              </p>
              <ul style="list-style-type: none; padding-left: 0; font-size: 18px; color: #002B36; font-family: 'Overpass', sans-serif;">
                <li class="mb-2">
                  <span style="color:  #002B36; font-weight: 700;">•</span> Individuals
                </li>
                <li class="mb-2">
                  <span style="color: #002B36; font-weight: 700;">•</span> Small and Medium-sized Enterprises (SMEs)
                </li>
                <li>
                  <span style="color: #002B36; font-weight: 700;">•</span> Local or regional authorities, including municipalities
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <!-- "Take Control" Section -->
      <div class="control-section py-5" style="background-color: #002B36; color: #FFFFFF;">
        <div class="container">
          <div class="row align-items-center">
            <!-- Text Section -->
            <div class="col-md-6 mb-4 mb-md-0">
              <h3 style="color: #05CAB6; font-family: 'Overpass', sans-serif; font-size: 23px; font-weight: 700;">
                Take Control
              </h3>
              <p class="lead" style="font-size: 20px; color: #FFFFFF; font-family: 'Overpass', sans-serif;">
                With our software for energy communities, you can intelligently manage your energy consumption.
              </p>
              <p style="font-size: 18px; line-height: 1.8; color: #FFFFFF; font-family: 'Overpass', sans-serif;">
                Wondering when it's most beneficial to use or sell your stored energy?
              </p>
              <p style="font-size: 18px; font-weight: 700; color: #05CAB6; font-family: 'Overpass', sans-serif;">
                Discover it with Enercom1!
              </p>
            </div>
            <!-- Image Section -->
            <div class="col-md-6 hover-effect">
              <img
                src="/assets/images/solar-house.png"
                class="img-fluid rounded"
                alt="Control Image"
                style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);"
              />
            </div>
          </div>
        </div>
      </div>
  
      <!-- Peer-to-Peer Section -->
      <div class="peer-to-peer-section py-5" style="background-color: #ffffff;">
        <div class="container">
          <div class="row align-items-center">
            <!-- Image Section -->
            <div class="col-md-6 mb-4 mb-md-0 hover-effect-black">
              <img
                src="/assets/images/peer.png"
                class="img-fluid rounded"
                alt="Peer-to-Peer Trading"
                style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);"
              />
            </div>
            <!-- Text Section -->
            <div class="col-md-6">
              <h3 style="color: #05cab6; font-family: 'Overpass', sans-serif; font-size: 23px; font-weight: 700;">
                Peer-to-Peer Energy Trading
              </h3>
              <p style="font-size: 1.25rem; line-height: 1.8; font-family: 'Overpass', sans-serif; color: #05cab6;">
                Enercom1 allows people and businesses to trade surplus renewable energy directly, promoting a decentralized and sustainable energy ecosystem.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Rounded Container -->
  </div>
  