<div class="background"></div>

<div class="content">
    <div class="card shadow-lg" style="max-width: 900px; width: 100%;">
        <div class="row g-0">
            <div class="col-md-5 d-none d-md-flex justify-content-center align-items-center">
                <img src="https://media.giphy.com/media/3oz8xJGmKVegkj8r8Q/giphy.gif" alt="Gif" class="img-fluid rounded-start">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4 text-primary">Energy Consumption Analysis</h3>
                    <form #form="ngForm" class="row g-3" (ngSubmit)="predict()">
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="analysis_type" class="form-label">Select analysis type:</label>
                                <select name="analysis_type" id="analysis_type" class="form-select" [(ngModel)]="selectedAnalysisType" required>
                                    <option value="" disabled selected>Select an option</option>
                                    <option value="device">Consumption of specific device</option>
                                    <option value="consumption">Consumption of energy community</option>
                                    <option value="production">Production of energy community</option>
                                </select>
                            </div>
                        </div>

                        <div *ngIf="selectedAnalysisType === 'device'" class="col-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="specific_device" class="form-label">Select the device:</label>
                                        <select name="specific_device" id="specific_device" class="form-select" [(ngModel)]="selectedDevice" required>
                                            <option value="" disabled selected>Select a device</option>
                                            <option value="hair_dryer">Hair Dryer</option>
                                            <option value="printer">Printer</option>
                                            <option value="washing_machine">Washing Machine</option>
                                            <option value="hoover">Hoover</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="V_rms" class="form-label">Effective voltage (V_rms):</label>
                                        <input [(ngModel)]="formData.v_rms" name="v_rms" id="V_rms" placeholder="V_rms" type="number" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="I_rms" class="form-label">Effective current (I_rms):</label>
                                        <input [(ngModel)]="formData.i_rms" name="i_rms" id="I_rms" placeholder="I_rms" type="number" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="S" class="form-label">Active Power (S):</label>
                                        <input [(ngModel)]="formData.s" name="s" id="S" placeholder="S" type="number" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedAnalysisType === 'consumption' || selectedAnalysisType === 'production'" class="col-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="year" class="form-label">Year:</label>
                                        <input [(ngModel)]="energyCommunityData.year" name="year" id="year" placeholder="Year" type="number" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="month" class="form-label">Month:</label>
                                        <input [(ngModel)]="energyCommunityData.month" name="month" id="month" placeholder="Month" type="number" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="day" class="form-label">Day:</label>
                                        <input [(ngModel)]="energyCommunityData.day" name="day" id="day" placeholder="Day" type="number" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="hour" class="form-label">Hour:</label>
                                        <input [(ngModel)]="energyCommunityData.hour" name="hour" id="hour" placeholder="Hour" type="number" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="number_of_panels" class="form-label">Number of Panels:</label>
                                        <input [(ngModel)]="energyCommunityData.number_of_panels" name="number_of_panels" id="number_of_panels" placeholder="Number of Panels" type="number" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="season" class="form-label">Season:</label>
                                        <select [(ngModel)]="energyCommunityData.season" name="season" id="season" class="form-select" required>
                                            <option value="" disabled selected>Select a season</option>
                                            <option value="Winter">Winter</option>
                                            <option value="Spring">Spring</option>
                                            <option value="Summer">Summer</option>
                                            <option value="Autumn">Autumn</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="category" class="form-label">Category:</label>
                                        <input [(ngModel)]="energyCommunityData.category" name="category" id="category" placeholder="Category" type="text" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12" *ngIf="selectedAnalysisType === 'device'">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="start_date" class="form-label">Start Date:</label>
                                    <input type="date" name="start_date" ngModel id="start_date" class="form-control" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="end_date" class="form-label">End Date:</label>
                                    <input type="date" name="end_date" ngModel id="end_date" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary">Start Analysis</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
