html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Light background color */
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}

.image-container {

  width: 700px; /* Container width */
  max-width: 90vw; /* Make sure it fits smaller screens */
  height: auto; /* Height will depend on content */
  border: 2px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow to make it stand out */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content within the container */
  margin: 100px 0;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.circle-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4CAF50;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.circle-btn:hover {
  background-color: #17651c;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.label {
  font-size: 16px;
  color: #333;
  text-align: center;
}
