.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60px; 
    transition: all 0.3s ease;
    z-index: 10; 
    overflow: hidden;
}

.navbar-container:hover {
    width: 200px;
}

.navbar {
    height: 100vh;
    background-color: #f8f8f8;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: width 0.3s ease, background-color 0.3s ease;
    overflow-y: auto;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar ul li {
    margin-bottom: 15px;
    width: 100%;
}

.navbar ul li a,
.navbar ul li button {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar ul li a img,
.navbar ul li button img {
    width: 24px; 
    height: 24px; 
    margin-right: 8px;
    transition: margin 0.3s ease;
}

.navbar-container:hover ul li a img,
.navbar-container:hover ul li button img {
    margin-right: 12px; 
}

.navbar ul li a span,
.navbar ul li button span {
    display: none;
}

.navbar-container:hover ul li a span,
.navbar-container:hover ul li button span {
    display: inline; 
}

.navbar ul li a:hover,
.navbar ul li button:hover {
    background-color: #333;
    color: white;
}

.logout-button {
    width: 100%;
    padding: 8px 10px;
    background-color: transparent;
    border: none;
    color: #333;
    text-align: left;
    font-size: 14px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #333;
    color: white;
}
