<div class="navbar" id="navbar">
    <ul>
        <li><a href="#household" id="householdeLink"><img src="{{ '/assets/images/home.png' }}"> Household</a></li>
        <li><a href="#evaluation" id="evaluationLink"><img src="{{ '/assets/images/axis.png' }}"> Evaluation</a></li>
        <li><a href="#battery" id="batteryLink"><img src="{{ '/assets/images/charging.png' }}"> Battery management</a></li>
        <li><a href="#subsystem" id="suvsystemLink"><img src="{{ '/assets/images/simulink.png' }}"> Subsystem co-simulation</a></li>
        <li><a href="#monitoring" id="monitoringLink"><img src="{{ '/assets/images/analytics.png' }}"> Monitoring and diagnosis</a></li>
    </ul>
</div>
